body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #484747;
    flex-direction: column;
}

#nameText,
#date-clock,
.announcement {
    color: orange;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.announcement {
    display: none;
}